div.orgChart {
    background-color: #F7F7F7;
}


div.orgChart div.node{
    border                : 1px solid black;
    display               : inline-block;
    padding               : 8px 4px 3px;
    width                 : 96px;
    height                : 60px;
    
    line-height           : 1.6em;
    text-shadow: 0 1px 0 #efefef;
    color: #405163;
    vertical-align: middle;
  
    border-radius         : 3px;
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;
  
  
    background: #e0e0e0;
    background: -moz-linear-gradient(top, #e0e0e0 0%, #b5b5b5 100%);
    background: -webkit-linear-gradient(top, #e0e0e0 0%,#b5b5b5 100%);
    background: linear-gradient(to bottom, #e0e0e0 0%,#b5b5b5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#b5b5b5',GradientType=0 );
    box-shadow: 0 2px 0px #eee inset,0 2px 5px #aaa;
    -webkit-box-shadow: 0 2px 0px #eee inset,0 2px 5px #aaa;
    -moz-box-shadow: 0 2px 0px #eee inset,0 2px 5px #aaa;
}

div.orgChart tr.lines td.top {
    border-top            : 2px solid #2A3F54;
}

div.orgChart tr.lines td.left {
    border-right          : 2px solid #2A3F54;
}

div.orgChart tr.lines td.right {
    border-left           : 2px solid #2A3F54;
}

div.orgChart div.node.level0{
/*     background: #1ABB9C !important; 
    color:#fff;*/
  font-size:18px;
  font-weight:bold;
    width: 180px;
}

div.orgChart div.node.level1 {
     width: 150px;
}

